

@media(max-width:760px){
  header{
    height: 50px;
  }
  .footer_wrapper {
    height: 50px;
  }

  .header_container {
    width: auto;
  }
  .header_title {
    padding-top: 0px;
    font-size: 20px;
    line-height: 50px;
  }

  .heaedr_menu_wrapper {
    display: none;
  }
  
  .main_container {
    width: auto;
  }

  .main_img_wrapper {
    width: 100%;
    height: 460px;
  }

  .main_img_kingyo {
    width: 180px;
    height: auto;
  }

  .main_img_hukidasi {
    width: 100px;
    height: auto;
  }

  .main_img_hukidasi_link a {
    font-size: 15px;
  }

}
