@media(max-width:960px){
  .header_container {
    width: auto;
  }
  .main_container {
    width: auto;
  }

  .main_img_wrapper {
    width: auto;
  }

  .main_img_kingyo {
    left: 30%;
  }

  .main_img_hukidasi_link {
    left: 54%;
  }

  

  
}

@media (max-height:420px){
  header {
    height: 50px;
  }

  .main_img_kingyo {
    width: 140px;
    height: auto;
}
.main_img_hukidasi{
  width: 80px;
  height: auto;
}
  footer_wrapper {
    height:50px;
}


@media(max-width:560px){
  
 
header {
  height: 50px;
  
}
  
  .header_title {
    padding-top: 10px;
    font-size: 20px;
  }
  
  

.header_sideber {
  display: initial;
}



.heaedr_menu_wrapper {
  display: none;
}



.main_img_kingyo {
 width: 65%;
 top: 20%;
 left: 10%;
}


.main_img_hukidasi {
  top: 28%;
  left: 48%;
}
  
.main_img_hukidasi_link  {
  top: 40%;
  left: 55%;
}
  .footer_wrapper {
    height: 50px;
}




@media(min-height:700px) {
  .main_img_wrapper {
    height: 700px;
  }

  .footer_wrapper{
    height: 130px;
  }
}




@media(min-height:1024px) {




  .main_img_wrapper {
    height: 1024px;
  }

  
}



@media(min-height:1366px) {
  .main_img_wrapper {
    height: 1366px;
  }
  
}
